<div class="container">
    <h3 class="title" data-title="What I Do">Fonctionnement</h3>
    <div class="main-timeline"><br><br>
    
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month" style="font-size: 50px;color:#7F5DE3;" >1</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Créer votre profil</h5>
                                    <p class="description">
                                        Inscrivez-vous et créez votre profil utilisateur en quelques minutes.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month" style="font-size: 50px;color:#7F5DE3;" >2</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Ajouter vos vêtements                                    </h5>
                                    <p class="description">
                                        Téléchargez des photos de vos vêtements et organisez-les dans votre placard virtuel.                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month" style="font-size: 50px;color:#7F5DE3;" >3</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Planifier et consulter</h5>
                                    <p class="description">
                                        Vérifiez les prévisions météorologiques, consultez les tendances de mode et planifiez vos tenues avec le calendrier intégré.                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                            <span class="month" style="font-size: 50px;color:#7F5DE3;" >4</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Discuter avec notre chatbot</h5>
                                    <p class="description">
                                        Obtenez des conseils pour votre tenue et vos vêtements en discutant avec notre chatbot.                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                        </div>
    </div>