<div class="header">
	<div class="container-fluid mb-3">
		
			<div class="col-md-12 bg-light border-bottom pt-5 pb-5">
				<div class="container">
					
					<div class="button-form-container">
						<form class="form-inline mt-4 search-form">
							<input class="form-control mr-sm-2" name="search" type="search" placeholder="Rechercher" aria-label="Search" [(ngModel)]="searchTerm" (input)="filterClothesByName()">
						</form>
						<a class="add-btn-ajout" (click)="showBasicDialog()">New</a>
						
						
					</div>
			</div>
			</div>
		
	</div>
</div>
<div class="wrapper">
	<div class="sidebar">
		<app-sidebar></app-sidebar>
	</div>
	<div class="content">
		

			<div class = "container">
				
				<div class = "filter-items">
					<div class = "filter-item all new best-sellers specials" *ngFor="let clothes of filteredTendences">
						<div class = "item-img">
							<img [src]="'assets/images/' + clothes.imageName" alt="Item image" style="width: 250px;height: 400px;">
							
						</div>
						<div class = "item-info">
							<p> {{clothes.name}}</p>
							<p> {{clothes.description}}</p>
						
							<a class ="add-btn " (click)="updateTendences(clothes)" style="color: blue;">Modifier </a>
							<a  class ="add-btn cancel-btn"(click)="deleteTendences(clothes.id)"style="color: red;">Supprimer</a>
						</div>
					</div>
	  
					
				</div>
			</div>
		
		
	</div>
	</div>
  <p-dialog header="New Tendence" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    
		
		<div class="grid">
			<div class="col-12 lg:col-2">
				<div class="col-12 md:col-4">
					
				</div>
			</div>
			<div class="col-12 lg:col-10">
				<div class="grid formgrid p-fluid">
				  
					<div class="field mb-4 col-12">
						<label for="name" class="font-medium text-900"
							>name</label
						>
						<input [(ngModel)]="name" id="name" type="text" pInputText />
					</div>
					
					
					<div class="field mb-4 col-12">
						<label for="userName" class="font-medium text-900"
							>description</label
						>
						<input [(ngModel)]="description" id="description" type="text" pInputText />
					</div>
			
				
					<div class="field mb-4 col-12">
						
						<input type="file" class="file-uploader pull-left" #fileInput (change)="onFileSelected($event)">
					</div>
					<div class="col-12">
						
						<p-messages [value]="msgs"></p-messages>
					</div>
				</div>
			</div>
		</div>
	
	
	
		<ng-template pTemplate="footer">
			<span  class ="add-btn " (click)="addTendences()">Add</span>
			
			<span  class ="add-btn cancel-btn" (click)="Cancel()">Cancel</span>
       
    </ng-template>
</p-dialog>
<p-dialog header="update tendence" [(visible)]="displayBasic1" [style]="{width: '50vw'}" [baseZIndex]="10000">
    
		
	<div class="grid">
		<div class="col-12 lg:col-2">
			<div class="col-12 md:col-4">
				
			</div>
		</div>
		<div class="col-12 lg:col-10">
			<div class="grid formgrid p-fluid">
			  
				<div class="field mb-4 col-12">
					<label for="name" class="font-medium text-900"
						>name</label
					>
					<input [(ngModel)]="clothesToUpdate.name" id="name" type="text" pInputText />
				</div>
				<label for="name" class="font-medium text-900"
							>Description</label
						>
			
				<div class="field mb-4 col-12">
					<label for="userName" class="font-medium text-900"
						>description</label
					>
					<input [(ngModel)]="clothesToUpdate.description" id="description" type="text" pInputText />
				</div>
		
			
				<div class="field mb-4 col-12">
					
					<input type="file" class="file-uploader pull-left" #fileInput (change)="onFileSelected1($event)">
				</div>
				<div class="col-12">
					
					<p-messages [value]="msgs"></p-messages>
				</div>
			</div>
		</div>
	</div>
<ng-template pTemplate="footer">
		<span  class ="add-btn " (click)="confirmUpdate()">update</span>
		
		<span  class ="add-btn cancel-btn" (click)="Cancel()">Cancel</span>
   
</ng-template>
</p-dialog>
<p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle" message="Are you sure you want to proceed?"
										 [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
						</p-confirmDialog>


						