<app-sidebar></app-sidebar>
<div class="chat_window">
    <div class="top_menu">
      <div class="buttons">
        <div class="button close"></div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div>
      <div class="title">Chat</div>
    </div>
    <div class="message-container">
    <div *ngFor="let message of messages" [ngClass]="{'message sent': !message.sentByUser, 'message received': message.sentByUser}">
      <div class="avatar"></div>
      <div class="text_wrapper">
        <div class="text">  {{ message.text }}</div>
      </div>
    </div>
  </div>
    <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <input class="message_input" [(ngModel)]="newMessage" placeholder="Type your message here..." />
      </div>
      <div class="send_message" (click)="sendMessage()"  >
        <div class="icon"></div>
        <div class="text"  >Envoyer</div>
      </div>
    </div>
  </div>